name: documentation
on:
    push:
        branches: [ master, main ]
    pull_request:
        branches: [ master, main ]

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: ./package_creation
        steps:
            - uses: actions/checkout@v4
            
            - name: Set up Python 3.12.4
              uses: actions/setup-python@v5
              with:
                python-version: "3.12.4"

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install ghp-import sphinx==9.1.0 sphinx_rtd_theme==3.1.0
                
            - name: Build HTML
              run: |
                cd docs/
                make html
                touch build/html/.nojekyll
                
            - name: Deploy to GitHub Pages
              if: github.event_name == 'push' && github.ref == 'refs/heads/main'
              uses: peaceiris/actions-gh-pages@v3
              with:
                github_token: ${{ secrets.GITHUB_TOKEN }}
                publish_dir: ./package_creation/docs/build/html
                force_orphan: true

